## Variable that points to SystemC installation path
#SYSTEMC = /Users/isaacliu/Tools/systemc-2.2.0
#SYSTEMC = /cygdrive/c/workspace/systemc
SYSTEMC = $(HOME)/workspace/systemc


TARGET_ARCH = linux
#TARGET_ARCH = cygwin


